@import "tailwindcss";
.chrome-text {
  -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.4);
  paint-order: stroke fill;
}

html.lenis, html.lenis body {
  height: auto !important;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}